body{
    background:#ffffff;
    font-family: sans-serif;
}

h1, h2, p, li {
    color:#000;
}

a {
    color:blue;
}

p {
    background: #666;
    color: white;
    padding: 10px;
}

.secondary{
    background: none;
    color: #2a2727;
}